<div class="base-chart" [style.min-height.px]="height">
  <div class="head" *ngIf="title || subtitle">
    <div class="title" *ngIf="title">{{ title }}</div>
    <div class="subtitle" *ngIf="subtitle">{{ subtitle }}</div>
  </div>
  <div class="loading" *ngIf="loading"><p-progressSpinner></p-progressSpinner></div>
  <div class="empty"   *ngIf="!loading && isEmpty">No data matches current filters</div>
  <div class="echart"  *ngIf="!loading && !isEmpty"
       echarts [options]="options" [autoResize]="true"
       (chartClick)="chartClick.emit($event)"></div>
</div>
